p {
  text-align: justify;
}

.my-pic
{
    margin: 0 auto;
    display: block;
    max-height: 300px;
}

/*.logo
{
   padding-left: 785px;
} */

.item {
   font-size: 20px;
}

.description {
   font-size: 15px;
   padding-left: calc( 20px );
}

.aParent div {
  /*float: left;*/
  clear: none; 
}

.spacer25 {
    height: 25px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    clear: both;
}


.span4 {
    float: left;
    clear: none;
    width: 350px;
    padding-right: 20px;
}


.youtube_video {
    float: left;
    clear: none;
    padding: 20px;
    width: 40%
}


.foldable_toggle a {
	padding-left: 10px;	
	position: relative;
	-moz-user-select: none;
}
 
.foldable_toggle a:focus {
	outline: none;
}
 
.foldable_toggle .toggle {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/layout/toggle_arrows.png) no-repeat -39px -16px;
	width: 14px;
	height: 16px;
}
 
.foldable_toggle .unfolded .toggle {
	background-position: -68px -16px;
}
 
.foldable {
	background-color: #ebebeb;
	padding: 10px;
}
